name: Test and linter

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [^3.10.6]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
      - name: Run flake8
        run: poetry run flake8 .
      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v2.7.4
        env:
          CC_TEST_REPORTER_ID: 63bd1561c684c542056a7d7c4c144ebcf4d6327d1b2ade164a3b198afb8f38d0
        with:
          coverageCommand: poetry run pytest --cov=page_analyzer --cov-report xml tests/tests.py
          debug: true
